<h2>Orçamentos</h2>

<table>
  <thead>
    <tr>
      <th>Metros cúbicos</th>
      <th>Peso</th>
      <th>Valor por km</th>
    </tr>
  </thead>
  <tbody>
    <% @budgets&.each do |budget| %>
    <tr>
      <td><%= budget.min_size %> - <%= budget.max_size %> m²</td>
      <td><%= budget.min_weight %> - <%= budget.max_weight %> kg</td>
      <td><%= number_to_currency(budget.price) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
