<h2>Transportadoras</h2>

<table>
  <thead>
    <tr>
      <th>Nome Fantasia</th>
      <th>Domínio</th>
      <th>CNPJ</th>
    </tr>
  </thead>
  <tbody>
    <% @transporters.each do |transporter| %>
    <tr>
      <td><%= link_to transporter.brand_name, transporter %></td>
      <td><%= transporter.domain %></td>
      <td><%= transporter.registration_number %></td>
    </tr>
    <% end %>
  </tbody>
</table><br>
<div>
  <%= link_to 'Nova Transportadora', new_transporter_path %><br>
  <%= link_to 'Voltar', user_root_path %>
</div>
