<h2>Transportadora: <%= @transporter.brand_name %></h2>

<div>
  <strong>Razão Social:</strong> <%= @transporter.corporate_name %><br>
  <strong>CNPJ:</strong> <%= @transporter.registration_number %><br>
  <strong>Endereço:</strong> <%= @transporter.full_address %><br>
  <strong>Domínio:</strong> <%= @transporter.domain %>
</div><br>
<div>
  <% if current_user.admin? %>
  <div>
    <%= link_to 'Editar transportadora', edit_transporter_path(@transporter) %><br>
    <%= link_to 'Voltar', transporters_path %>
  </div>
  <% else %>
  <aside >
    <div>
      <%= render template: 'budgets/index' %>
    </div><br>
    <div>
      <%= render template: 'deadlines/index' %>
    </div>
  </aside><br>
  <div>
    <%= link_to 'Configurar orçamento', new_budget_path %><br>
    <%= link_to 'Configurar prazo', new_deadline_path %><br>
    <%= link_to 'Voltar', user_root_path %>
  </div>
  <% end %>
</div>
