<section>
  <div>
    <h2>Orçamentos disponíveis:</h2>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Transportadora</th>
          <th>Preço</th>
          <th>Prazo</th>
        </tr>
      </thead>
      <tbody>
        <% @transporters.each_with_index do |transporter, index| %>
        <tr>
          <td><%= transporter.brand_name %></td>
          <td><%= number_to_currency(@prices[index]) %></td>
          <td><%= @deadlines[index].period %> dia(s)</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div><br>
  <div>
    <div>
      <h2>Criar ordem de serviço</h2>
    </div>
    <div>
      <%= render template: 'service_orders/new' %>
    </div>
  </div>
  <div>
    <h2>Deseja fazer uma nova consulta?</h2>
  </div>
  <div>
    <%= render partial: 'shared/search/quotes' %>
  </div>
  <div>
    <%= link_to 'Voltar', user_root_path %>
  </div><br>
</section>
