<h2>Veículo: <%= @vehicle.license_plate %></h2>

<div>
  <strong>Marca:</strong> <%= @vehicle.brand_name %><br>
  <strong>Modelo: </strong> <%= @vehicle.model %><br>
  <strong>Ano:</strong> <%= @vehicle.year %><br>
  <strong>Capacidade:</strong> <%= @vehicle.capacity %> kg<br>
</div><br>
<div>
  <%= link_to 'Editar veículo', edit_vehicle_path %><br>
  <%= button_to 'Deletar veículo', @vehicle, method: :delete %>
  <%= link_to 'Voltar', vehicles_path %>
</div>
