<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Gerenciador de Entregas</h1>
      <nav>
        <% if user_signed_in? %>
          <div>
            <%= link_to 'Início', root_path %>
          </div><br>
          <div>
            <strong>Filial:</strong> <%= current_user.branch_office_name %><br>
            <strong>E-mail:</strong> <%= current_user.email %>
          </div><br>
          <div>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          </div>
        <% end %>
      </nav><br>
    </header>
    <main>
      <% if flash.any? %>
        <%= render 'shared/messages' %><br>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
